@media (min-width: 992px) {
  .navmenu {
    padding-top: 0;
  }
 
}

.angular-google-map-container { height: 400px; }

.carddemoBasicUsage .card-media {
  background-color: #ff9999; }

.max-p{
  overflow: hidden;
  max-height: 15ch;
}

.m-t-05{
margin-top: 0.5em;
}

.m-t-1{
margin-top: 1em;
}

.m-t-2{
margin-top: 2em;
}

.m-t-3{ margin-top: 3em; }

.m-b-1{
margin-bottom: 1em;
}

div.allow-dropdown{
width: 100%;
}

.body-without-padding {
    padding: 0 0 0 0px;
  }


