<nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand page-scroll" href="#page-top">Eat Me App</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right" style="padding-left:20px;">
                <li>
                    <a data-toggle="modal" data-target="#login-modal">Login</a>
                </li>
                <li>
                    <a data-toggle="modal" data-target="#signup-modal">Sign Up</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>

<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1 id="homeHeading">The future of dining is here</h1>
            <hr>
            <p>EatWith lets you be a chef on your terms. Set your own menu, schedule and dining experience–you’ll be earning money in no time.</p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
        </div>
    </div>
</header>

<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">We've got what you need!</h2>
                <hr class="light">
                <p class="text-faded">Start Bootstrap has everything you need to get your new website up and running in no time! All of the templates and themes on Start Bootstrap are open source, free to download, and easy to use. No strings attached!</p>
                <a href="#services" class="page-scroll btn btn-default btn-xl sr-button">Get Started!</a>
            </div>
        </div>
    </div>
</section>

<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">At Your Service</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-money  text-primary sr-icons"></i>
                    <h3>Make Money</h3>
                    <p class="text-muted">Whether you want to launch your own brand or create a side gig, earn up to $700 for hosting each event.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-calculator     text-primary sr-icons"></i>
                    <h3>Set your menu and schedule</h3>
                    <p class="text-muted">Need a break from the restaurant scene? Be your boss to host when you want, and where you want.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-newspaper-o text-primary sr-icons"></i>
                    <h3>Get resources</h3>
                    <p class="text-muted">Connect with 650 hosts located in 200+ cities and 50 countries around the world. You’re part of the global EatWith family no matter where you are.
                    </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-heart text-primary sr-icons"></i>
                    <h3>Join a community</h3>
                    <p class="text-muted">You’ll have access to incentive programs, chef mentors and more. We’re here to help food entrepreneurs to develop and grow.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="no-padding" id="portfolio">
    <div class="container-fluid">
        <div class="row no-gutter popup-gallery">
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box">
                    <img ng-src="images/1.jpeg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Category
                            </div>
                            <div class="project-name">
                                Project Name
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box">
                    <img src="images/2.jpeg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Category
                            </div>
                            <div class="project-name">
                                Project Name
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box">
                    <img src="images/3.jpeg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Category
                            </div>
                            <div class="project-name">
                                Project Name
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box">
                    <img src="images/4.jpeg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Category
                            </div>
                            <div class="project-name">
                                Project Name
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box">
                    <img src="images/5.jpeg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Category
                            </div>
                            <div class="project-name">
                                Project Name
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="images/6.jpg" class="portfolio-box">
                    <img src="images/6.jpeg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Category
                            </div>
                            <div class="project-name">
                                Project Name
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>

<aside class="bg-dark">
    <div class="container text-center">
        <div class="call-to-action">
            <h2>Free Download at Start Bootstrap!</h2>
            <a href="http://startbootstrap.com/template-overviews/creative/" class="btn btn-default btn-xl sr-button">Download Now!</a>
        </div>
    </div>
</aside>

<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Let's Get In Touch!</h2>
                <hr class="primary">
                <p>Ready to start your next project with us? That's great! Give us a call or send us an email and we will get back to you as soon as possible!</p>
            </div>
            <div class="col-lg-4 col-lg-offset-2 text-center">
                <i class="fa fa-phone fa-3x sr-contact"></i>
                <p>123-456-6789</p>
            </div>
            <div class="col-lg-4 text-center">
                <i class="fa fa-envelope-o fa-3x sr-contact"></i>
                <p><a href="mailto:your-email@your-domain.com">feedback@startbootstrap.com</a></p>
            </div>
        </div>
    </div>
</section>

<div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
  <div class="modal-dialog">
    <div class="loginmodal-container">
        <h1>Login to Your Account</h1><br>
        <form name="form_login" novalidate="">
            <input type="text" name="user" ng-model="auth.user.username" placeholder="Username" required="">
            <p ng-show="form_login.user.$invalid && form_login.user.$touched" class="help-block">Por favor, ingrese el Username.</p>

            <input type="password" name="password" ng-model="auth.user.password" placeholder="Password" required="">
            <p ng-show="form_login.password.$invalid && form_login.password.$touched" class="help-block">Por favor, ingrese el Password.</p>
            
            <input type="submit" name="login" class="login loginmodal-submit" value="Login" ng-click="auth.login();" ng-disabled="form_login.$invalid">
        </form>

        <div class="login-help">
            <p>{{auth.LoginErrorMessage}}</p>
        </div>
    </div>
</div>
</div>

<div class="modal fade" id="signup-modal" tabindex="-1" role="dialog" aria-labelledby="myModal2Label" aria-hidden="true" style="display: none;">
  <div class="modal-dialog">
    <div class="loginmodal-container">
        <h1>Create your Account</h1><br>
        <form name="form_signup" novalidate>

            <!-- nombre -->
            <input type="text" name="name" ng-model="auth.user.name" placeholder="Nombre" required>
        <p ng-show="form_signup.name.$invalid && form_signup.name.$touched" class="help-block">Por favor, ingrese un Nombre.</p>

            
        <!-- Apellido -->
          <input type="text" name="last" ng-model="auth.user.last" placeholder="Apellido" required>
        <p ng-show="form_signup.last.$invalid && form_signup.last.$touched" class="help-block">Por favor, ingrese un Apellido.</p>

          <!-- Direccion -->
          <input type="text" name="address" ng-model="auth.user.address" placeholder="Direccion" required>
        <p ng-show="form_signup.address.$invalid && form_signup.address.$touched" class="help-block">Por favor, ingrese una Direccion.</p>


          <!-- Email -->
          <input type="email" name="email" ng-model="auth.user.email" placeholder="Email" required>
        <p ng-show="form_signup.email.$invalid && form_signup.email.$touched" class="help-block">Por favor, ingrese un Email Valido.</p>


            <!-- USERNAME -->
          <input type="text" name="username"  ng-model="auth.user.username" placeholder="Username" required>
        <p ng-show="form_signup.username.$invalid && form_signup.username.$touched" class="help-block">Por favor, ingrese un Nombre de Usuario.</p>

            <!-- PASS 1 -->
          <input type="password" name="pass"  ng-model="auth.user.pass1" placeholder="Password" required>
          <p ng-show="form_signup.pass.$invalid && form_signup.pass.$touched" class="help-block">Ingresa un password.</p>

          <input type="password" name="repeat_pass" ng-model="auth.user.pass2" placeholder="Repeat Password" required>
        <p ng-show="form_signup.repeat_pass.$invalid && form_signup.repeat_pass.$touched" class="help-block">Ingresa de nuevo el password.</p>

          <input type="submit" name="signup" class="login loginmodal-submit" value="Signup" ng-click="auth.signUp();" ng-disabled="form_signup.$invalid">
      </form>

      <div class="login-help">
      <p>{{auth.errorMessage}}</p>
    </div>
</div>
</div>
</div>


